 @import "tailwindcss";


 select ,input,textarea{
    border:1px solid rgb(7, 7, 7);
    outline-color:rgb(71, 169, 254);
    border-radius: 4px;
 }
.active{
    background-color:black;
    border-color: black;
    color:white;
}
